[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.1.3"
gunicorn = "==19.9.0"
line-bot-sdk = "==1.8.0"
requests = "==2.20.0"

[dev-packages]

[requires]
python_version = "3.10"
